<div [@routerTransition]>

  <div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-3">
                <Span>Lista de Agendamentos</Span>
            </div>
            <div class="col-lg-7">

            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" [routerLink]="['/agenda']">
                    <i class="fa fa-plus"></i> <span class="caret"> Nova Consulta</span>
                </button>
            </div>

        </div>
    </div>
    <div class="card-body">
        <!-- <div uib-accordion-group class="panel-danger" heading="Delete account">
            <p>Please, to delete your account, click the button below</p>
            <button class="btn btn-danger">Delete</button>
        </div> -->
        <div class="row">
        <div class="col-lg-2">
            <fieldset class="form-group">
                <label>Data:</label>
                <input type="date" class="form-control">
            </fieldset>
        </div>

        <div class="col-lg-3">
                <label>Especialidade:</label>
                <select class="form-control">
                    <option *ngFor="let consulta of consultaList; let id = index;">{{consulta.especialidade }}</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label>Médico:</label>
                <select class="form-control">
                    <option *ngFor="let consulta of consultaList; let id = index;">{{consulta.consulta_nome_med}}</option>
                </select>
            </div>
        </div>
        <div class="card-body table-responsive">
               
            <table class="table">
                <thead>
                <tr>
                    <th>Hora</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Plano</th>
		            <th>Opções</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let consulta of consultaList;let id = index;">
                    <th scope="row">{{consulta.hora}}</th>
                    <td>{{consulta.consulta_nome_pac}}</td>
                    <td>{{consulta.telefone}}</td>
                    <td>thi_quaresma@gmail.com</td>
                    <td>{{consulta.plano}}
                    </td>
                    <td>
                        <button class="btn btn-link"><i class="fa fa-edit" routerLink="./cadastrar-consulta"></i></button>        
                        <app-modal-deletar></app-modal-deletar>						
                        <!-- <button class="btn btn-link"><i class="fa">&#xf232;</i></button>-->			
                    </td>
                </tr>
                </tbody>
            </table>
            
            <!-- Encerrando tabela -->
            
        </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-2">
          <!-- <button class="btn btn-info btn-sm" (click)="randomize()">Buscar Agendamentos</button> -->
        </div>
    </div>
  </div>
</div>